@charset "utf-8";
/* CSS Document */


/* = state
-------------------------------------------------- */
.is-hidden {
  display: none;
}
.is-visible {
  display: block;
}
.is-active {
  display: block;
}
.is-disabled {}
.is-show {}
.is-opened {
  display: block;
}
.is-closed {
  display: none;
}

/* = width
-------------------------------------------------- */
.u-w20p { width: 20% !important; }
.u-w40p { width: 40% !important; }
.u-w50p { width: 50% !important; }
.u-w60p { width: 60% !important; }
.u-w80p { width: 80% !important; }
.u-w100p { width: 100% !important; }




/*----------------------------------------------------
 space
    p,m = padding and margin
    a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
    s,m,l,n = small(7px),medium(14px),large(21px),none(0) 
----------------------------------------------------*/

.mrs{
    margin-right: 7px !important;
}
