@charset "utf-8";
/* CSS Document */

/*font-size: [62.5%；] = [10px = 1rem] */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.4;
  color:#606060;
  font-family: 'Quicksand', Helvetica Neue,Helvetica,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,Verdana,"sans-serif";
  background-color:#FFF;
  position:relative;
}
a {
  text-decoration:none;
  color:#2793e6;
  cursor:pointer;
}
a:hover,
a.selected {
  color:#4cb9ff;
}
.cf:after {
  content:"";
  display:block;
  clear:both;
}

