@charset "UTF-8";
/* CSS Document */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  line-height: 1.4;
  color:#606060;
  font-family: Helvetica Neue,Helvetica,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,Verdana,"sans-serif";
  background-color:#FFF;
  position:relative;
}
header {
  background: #fc1994;
  text-align: center;
}
.headerBar {
  height: 50px;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.siteName {
  color: white;
  flex: 1;
  font-family: 'Fredoka One', cursive;
  font-size: 2.8rem;
  font-weight: 500;
}
.container {
  margin-top: 50px;
}
.content {
  margin: 0 2rem 4rem;
  font-size: 1.3rem;
  word-break: break-all;
}
.content__title {
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #e2fcc8;
  padding: 0.5em;
  margin:0 -2rem 1.6rem;
}
/* pointList
-------------------------------------------- */
.pointList {
  margin:0 0 0 16px;
}
.pointList__item {
  padding:0 0 12px 0;
}
.pointList__item__sub {
  font-size: 1rem;
  padding:8px 0 0 0;
}
/* sampleFitText
-------------------------------------------- */
.sampleFitText {
  margin: 10px 0;
  padding:1.2rem;
  border:1px solid #ccc;
  display:block;
  height:78px; /*通常のみ */
  overflow: hidden; /*通常のみ */
}
/* slider
-------------------------------------------- */
.slider-1 {
  margin: 2rem -2rem 0;
}
.slick-next {
  right: 20px;
  z-index: 99;
}
.slick-prev {
  left: 15px;
  z-index: 100;
}
/*スライド画像の横幅可変*/
img {
    max-width: 100%;
     height: auto;
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 90%;
  }
  .content {
    max-width: 900px;
    margin: 0 auto 4rem;
  }
  .slider-1 {
    margin: 2rem auto 0;
    max-width: 900px;
  }
}





.sampleSlider {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
